@import 'utils/variables';
@import 'components/type';

// Assets

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--background-color);
    color: var(--primary-color);
    margin: 0;
}

// Audio
.musicBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    border: var(--secondary-color) 2px solid;
    border-radius: 50%;
    color: var(--secondary-color);
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 0;
    z-index: 9999;
    position: fixed;
    top: 20px;
    left: 20px;
}

.iconMusic {
    width: 15px;
    height: 15px;
    transition: all 0.3s ease;
}

// Cursor

.custom--cursor {
    display: none;
}

.cursor--outline {
    display: none;
}

// Anchors

#chapter1,
#chapter2,
#chapter3,
#chapter4,
#chapter5,
#chapter6 {
    scroll-margin-top: 100px;
}

#frame1,
#frame2,
#frame3,
#frame5,
#frame6,
#frame7,
#frame8,
#frame9 {
    scroll-margin-top: -80px;
}

#frame4 {
    scroll-margin-top: -60px;
}

// Fixed chapter

.japanese--content.fixed,
.text--chapter.fixed {
    display: none;
}

/* ------- HOME PAGE ------- */

/* NAVIGATION */

.menu--btn{
    width: 25px;
    height: 20px;
    position: absolute;
    top: 30px;
    right: 25px;
    background: transparent;
    color: transparent;
    border: 0;
    z-index: 99;
    cursor: pointer;

    i {
        display: block;
        width: 100%;
        height: 2px;
        background: var(--primary-color);
        position: absolute;
        transition: all 0.3s ease;
    }

    i:nth-child(1) {
        top: 0;
    }

    i:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    i:nth-child(3) {
        bottom: 0;
    }
}

.nav {
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    position: fixed;
    height: 80px;
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--background-color);
    z-index: 999;
}


/* Menu Open */

// Btn Menu Open

.menu--btn.open {
    i:nth-child(1) {
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
        transform-origin: center;
    }

    i:nth-child(2) {
        opacity: 0;
    }

    i:nth-child(3) {
        bottom: 50%;
        transform: rotate(-45deg) translateY(50%);
        transform-origin: center;
    }
}

// Nav Open

.nav__mb {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    padding: 0;
    margin: 0;
    top: -100%;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-out; 
    z-index: 10;

    .nav__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        .nav__item{
            margin-bottom: 40px;

            .nav__link {
                text-align: center;
                color: var(--primary-color);
                font-size: var(--text-big-mb);
                line-height: var(--text-line-height);
                font-weight: var(--regular-weight);
                text-decoration: none;
                font-family: var(--title-section);
                transition: all 0.3s ease;
                opacity: 0;
                cursor: pointer;

                .text--number {
                    font-size: var(--h3-size-mb);
                    font-weight: var(--bold-weight);
                    color: var(--secondary-color);
                }
            }

            .nav__link:hover {
                color: var(--secondary-color);
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.nav__mb.open {
    top: 0;
    height: 100%;
}

/* HEADER */

.section--header {
    height: 100vh;
    padding: 0 20px;

    .section--header__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 100%;

        .title--big {
            opacity: 0;
            margin: 0;
            padding-bottom: 32px;
            font-size: var(--h1-size-mb);
            line-height: var(--title--line-height);
            font-family: var(--h1);

            .compass--h1 {
                width: 40px;
                height: 40px;
            }
        }

        .text--big {
            opacity: 0;
            margin: 0;
            font-size: var(--text-big-mb);
            font-weight: var(--regular-weight);
            line-height: var(--text-line-height);
            font-family: var(--text);
            max-width: 400px;
        }

        .btn--start {
            opacity: 0;
            animation: appear 0.3s ease-in forwards;
            animation-delay: 0.8s;
            transform: translateY(10px);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            padding: 16px 20px;
            background-color: var(--secondary-color);
            color: var(--background-color);
            line-height: var(--text-line-height);
            font-size: var(--text-mb);
            font-family: var(--text);
            text-decoration: none;
            border-radius: 5px;
            transition: all 0.3s ease;
            cursor: pointer;
            box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);

            .compass--btn {
                width: 20px;
                height: 20px;
                margin-left: 10px;
                transition: all 0.3s ease;
                transform: rotate(0deg);
                fill: var(--secondary-color);
            }

            &:hover {
                background-color: var(--background-color);
                color: var(--secondary-color);

                .compass--btn {
                    transform: rotate(180deg);
                    color: var(--secondary-color);
                }
            }    
        }

        @keyframes appear {
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    .japanese--content {
        position: absolute;
        writing-mode: vertical-rl;
        margin: 0;
        top : 100px;
        left: 20px;
        padding: 10px 5px 2px 5px;
        border: 1px solid var(--primary-color);

        .text {
            margin: 0;
            letter-spacing: 10px;
            font-size: var(--text-mb);
            font-family: var(--title-section);
        }
    }

    .text--chapter {
        position: absolute;
        bottom: 40px;
        right: 20px;
        margin: 0;
        font-family: var(--title-section);
        font-size: var(--text-big-mb);

        .text--number {
            padding-left: 5px;
            color: var(--secondary-color);
            font-weight: var(--bold-weight);
            font-size: var(--text-number-mb);
        }
    }
}

/* MAIN */

.main {
    padding: 0 20px;

    .section--chapter {
        margin: 240px 0 0 0;

        .japanese--content {
            display: flex;
            justify-self: end;
            writing-mode: vertical-rl;
            margin: 0;
            padding: 10px 5px 2px 5px;
            border: 1px solid var(--primary-color);

            .text {
                margin: 0;
                letter-spacing: 10px;
                font-size: var(--text-mb);
                font-family: var(--title-section);
            }
        }

        .text--chapter {
            position: relative;
            text-align: right;
            margin: 0 0 80px 0;
            padding-top: 8px;
            font-family: var(--title-section);
            font-size: var(--text-big-mb);

            .text--number {
                padding-left: 5px;
                color: var(--secondary-color);
                font-weight: var(--bold-weight);
                font-size: var(--text-number-mb);
            }
        }

        .text--quote {
            color: var(--secondary-color);
            font-style: italic;
        }

        .section--chapter__frame {
            margin: 0;

            .figure--large {
                padding: 40px 0 60px 20px;
                max-width: 400px;
                height: auto;
                margin: 0;

                .figure__image {
                    margin: 0;
                    height: 250px;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                    border: 1px solid var(--primary-color);
                }

                .figure__text {
                    margin: 0;
                    padding-top: 8px;
                    font-family: var(--text);
                    font-size: var(--text-small-mb);
                    line-height: var(--text-line-height);
                    font-weight: var(--regular-weight);
                    font-style: italic;
                }     
            }

            &:last-child {
                    margin-top: 80px;
            }

            .figure--square {
                padding-left: 20px;
                padding-bottom: 40px;
                width: calc(100% - 20px);
                height: auto;
                margin: 0;

                .figure__image {
                    margin: 0;
                    height: 250px;
                    width: auto;
                    object-fit: cover;
                    border-radius: 5px;
                    border: 1px solid var(--primary-color);
                }

                .figure__text {
                    margin: 0;
                    padding-top: 8px;
                    font-family: var(--text);
                    font-size: var(--text-small-mb);
                    line-height: var(--text-line-height);
                    font-weight: var(--regular-weight);
                    font-style: italic;
                }
            }
        }

        .figure--card {
            padding-left: 20px;
            padding-bottom: 40px;
            width: calc(100% - 20px);
            height: auto;
            margin: 0;

            .figure__image {
                margin: 0;
                height: 300px;
                width: auto;
                object-fit: cover;
                border-radius: 5px;
                border: 1px solid var(--primary-color);
            }

            .figure__text {
                margin: 0;
                padding-top: 8px;
                font-family: var(--text);
                font-size: var(--text-small-mb);
                line-height: var(--text-line-height);
                font-weight: var(--regular-weight);
                font-style: italic;
            }
        }

        .section--chapter__content {
            padding-left: 20px;
            margin-bottom: 40px;
            border-left: 1px solid var(--secondary-color);

            .title--section {
                max-width: 350px;
                margin: 0;
                margin-bottom: 32px;
                font-size: var(--h2-size-mb);
                line-height: var(--title--line-height);
                font-family: var(--title-section);
                font-weight: var(--bold-weight);
            }

            .text {
                margin: 0;
                max-width: 350px;
                padding-bottom: 24px;
                font-size: var(--text-mb);
                line-height: var(--text-line-height);
                font-family: var(--text);
                font-weight: var(--regular-weight);

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }

        .btn--next {
            display: none;
        }

        .btn--tech {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            margin-left: 20px;
            padding: 16px 20px;
            background-color: var(--background-color);
            color: var(--primary-color);
            line-height: var(--text-line-height);
            font-size: var(--text-mb);
            font-family: var(--text);
            text-decoration: none;
            border-radius: 5px;
            transition: all 0.3s ease;
            cursor: pointer;
            box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);

            .arrow--next {
                width: 30px;
                height: auto;
                margin-left: 10px;
                transition: all 0.3s ease;
                color: var(--secondary-color);
            }

            &:hover {
                background-color: var(--primary-color);
                color: var(--background-color);

                .arrow--next {
                    color: var(--background-color);
                }
            }    
        }
    }

    .restart--btn {
        display: flex;
        justify-content: center;

        .btn--start {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            padding: 16px 20px;
            background-color: var(--secondary-color);
            color: var(--background-color);
            line-height: var(--text-line-height);
            font-size: var(--text-mb);
            font-family: var(--text);
            text-decoration: none;
            border-radius: 5px;
            transition: all 0.3s ease;
            cursor: pointer;
            box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);

            .compass--btn {
                width: 20px;
                height: 20px;
                margin-left: 10px;
                transition: all 0.3s ease;
                transform: rotate(0deg);
                fill: var(--secondary-color);
            }

            &:hover {
                background-color: var(--background-color);
                color: var(--secondary-color);

                .compass--btn {
                    transform: rotate(180deg);
                    color: var(--secondary-color);
                }
            }    
        }
    }
    
}

/* FOOTER */

.footer {
    border-top: 1px solid var(--primary-color);
    margin-top: 120px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text--small {
        margin: 0;
        font-size: var(--text-small-mb);
        line-height: var(--text-line-height);
        font-family: var(--text);
        font-weight: var(--regular-weight);
    }
}

/* MEDIA QUERIES */

@media (min-width: 450px) {
    .menu--btn {
        right: 35px;
    }

    .musicBtn {
        left: 30px;
    }

    .header {
        .japanese--content {
            left: 30px;
        }

        .text--chapter {
            right: 30px;
        }
    }
    
    .main {
        padding: 0 30px;

        .section--chapter {
            .section--chapter__frame {
                margin-top: 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                .figure--large {
                    padding: 0 0 60px 0;
                    width: calc(100% - 30px);
                }

                .figure--square {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }    
}

@media (min-width: 500px) {
    .grid {
        display: grid;
        grid-template-columns: 100px 1fr;
    }

    .gridMb-start1 {
        grid-column: 1 / 3;
    }

    .gridMb-start2 {
        grid-column: 2 / 3;
    }
}

@media (min-width: 620px) {
    .menu--btn {
        right: 45px;
    }

    .header {
        .japanese--content {
            left: 40px;
        }

        .text--chapter {
            right: 40px;
        }
    }

    .main {
        padding: 0 40px;
    }

    .grid {
        display: grid;
        grid-template-columns: 60px 150px 1fr;
    }

    .gridMb-start1 {
        grid-column: 2 / 4;
    }

    .gridMb-start2 {
        grid-column: 3 / 4;
    }
}

@media (min-width: 768px) {

    .nav {
        border-bottom: none;
        background-color: transparent;
        
        .nav__mb {
            .nav__list {
                .nav__item {

                    .nav__link {
                        font-size: var(--text-big-dt);

                        .text--number {
                            font-size: var(--h3-size-dt);
                        }
                    }
                }
            }
        }
    }

    .japanese--content.fixed {
        display: block;
        position: fixed;
        top: auto;
        bottom: 40px;
        left: 40px;
        z-index: 99;
        background: var(--background-color);
        border: 1px solid var(--primary-color);
        padding: 10px 5px 2px 5px;
        writing-mode: vertical-rl;

        .text {
            margin: 0;
            letter-spacing: 10px;
            font-size: var(--text-mb);
            font-family: var(--title-section);
        }
    }

    .text--chapter.fixed {
        display: block;
        position: fixed;
        bottom: 40px;
        right: 40px;
        z-index: 99;
        font-family: var(--title-section);
        font-size: var(--text-big-mb);

        .text--number {
            padding-left: 5px;
            color: var(--secondary-color);
            font-weight: var(--bold-weight);
            font-size: var(--text-number-mb);
        }
    }

    .header .japanese--content,
    .header .text--chapter,
    .main .japanese--content,
    .main .text--chapter {
        opacity: 0;
        pointer-events: none;
        position: absolute !important;
    }

    .header {
        padding: 0 20px;

        .section--header__content {

            .title--big {
                font-size: var(--h1-tech-size-dt);

                .compass--h1 {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    .main {
        .section--chapter {

            .section--chapter__frame {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;

                .section--chapter__content {
                    margin-bottom: 40px;
                }
            }

            .section--chapter__content {
                margin-bottom: 80px;
            }

            .figure--card {
                margin-bottom: 80px;
            }

            .btn--next {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                margin-left: 20px;
                padding: 16px 20px;
                background-color: var(--background-color);
                color: var(--primary-color);
                line-height: var(--text-line-height);
                font-size: var(--text-mb);
                font-family: var(--text);
                text-decoration: none;
                border-radius: 5px;
                transition: all 0.3s ease;
                cursor: pointer;
                box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);

                .arrow--next {
                    width: 30px;
                    height: auto;
                    margin-left: 10px;
                    transition: all 0.3s ease;
                    color: var(--secondary-color);
                }

                &:hover {
                    background-color: var(--primary-color);
                    color: var(--background-color);

                    .arrow--next {
                        color: var(--background-color);
                    }
                }    
            }
        }
    }

    .grid {
        grid-template-columns: 100px 1fr 1fr 150px;
        gap: 20px;
    }

    .gridTb-start2 {
        grid-column: 2 / 5;
    }

    .gridTb-start3 {
        grid-column: 3 / 4;
    }
}

@media (min-width: 1024px) {
    body {
        cursor: none;
    }

    .custom--cursor {
        display: block;
        width: 15px;
        height: 15px;
        position: fixed;
        pointer-events: none;
        background-color: var(--secondary-color);
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: 10000;
    }

    .cursor--outline {
        display: block;
        width: 40px;
        height: 40px;
        border: 1px solid var(--secondary-color);
        border-radius: 50%;
        position: fixed;
        pointer-events: none;
        transform: translate(-50%, -50%);
        z-index: 9999;
        transition: transform 0.1s ease;
    }

    .menu--btn {
        cursor: none;
    }

    .nav {
        .nav__mb {
            .nav__list {
                .nav__item {
                    .nav__link {
                        cursor: none;
                    }
                }
            }
        }
    }

    .japanese--content.fixed {
        padding: 10px 5px 2px 5px;

        .text {
            font-size: var(--text-dt);
        }
    }

    .text--chapter.fixed {
        font-size: var(--text-big-dt);

        .text--number {
            font-size: var(--chapter-size-dt);
        }
    }

    .header {
        .section--header__content {
            .title--big {
                font-size: var(--h1-size-dt);

                .compass--h1 {
                    width: 60px;
                    height: 60px;
                }
            }

            .text--big {
                font-size: var(--text-big-dt);
            }

            .btn--start {
                font-size: var(--text-dt);
                padding: 16px 25px;
                margin-top: 80px;
                cursor: none;

                .compass--btn {
                    width: 25px;
                    height: 25px;
                    margin-left: 15px;
                }
            }
        }
    }

    .main {

        .section--chapter {
            .section--chapter__frame {
                .section--chapter__content {
                    margin-bottom: 40px;

                    .title--section {
                        max-width: 400px;
                    }
                    .text {
                        max-width: 400px;
                    }
                }

                .btn--next {
                    cursor: none;
                }

                .btn--start {
                    margin-top: 0;
                    cursor: none;
                }

                .figure--large {
                    max-width: 400px;

                    .figure__image {
                        height: 250px;
                        width: 400px;
                    }

                    .figure__text {
                        font-size: var(--text-small-dt);
                    }
                }

                .figure--square {

                    .figure__image {
                        height: 250px;
                        width: 250px;
                    }

                    .figure__text {
                        font-size: var(--text-small-dt);
                    }
                }
            }

            .btn--tech {
                cursor: none;
            }

            .section--chapter__content {

                .title--section {
                    font-size: var(--h2-size-dt);
                }

                .text {
                    font-size: var(--text-dt);
                }
            }

            .figure--card {
                .figure__image {
                    height: 300px;
                    width: 250px;
                }

                .figure__text {
                    font-size: var(--text-small-dt);
                }
            }
        }
    }
}

@media (min-width: 1250px) {

    .grid {
        grid-template-columns: 150px 1fr 1fr 1fr 1fr 150px;
        gap: 30px;
    }

    .gridDt-start2 {
        grid-column: 2 / 7;
    }

    .gridDt-start3 {
        grid-column: 3 / 7;
    }

    .gridDt-start4 {
        grid-column: 4 / 7;
    }
}

@media (min-width: 1450px) {

    .grid {
        grid-template-columns: 350px 1fr 1fr 1fr 1fr 1fr 200px;
    }

    .gridDt-start2 {
        grid-column: 2 / 7;
    }

    .gridDt-start4 {
        grid-column: 5 / 7;
    }
}

@media (min-width: 1600px) {

    .main {

        .section--chapter {
            .section--chapter__frame {
                .figure--large {
                    max-width: 500px;

                    .figure__image {
                        height: 300px;
                        width: 500px;
                    }
                }

                .figure--square {

                    .figure__image {
                        height: 300px;
                        width: 300px;
                    }
                }
            }

            .figure--card {
                .figure__image {
                    height: 400px;
                    width: 300px;
                }
            }
        }
    }
}

/* ------- TECH PAGE ------- */

